In [1748]:
# Task (1)

In [1749]:
# format() method is a powerful tool that allows to create formatted strings
name = "Rania Alageel"
major = "Software Engineering"
message = "My name is {0} and I am {1} \
					 \
					".format(name, major)
print(message)

My name is Rania Alageel and I am Software Engineering

In [1750]:
# join() method that takes all items in an iterable and joins them into one string 

myText =  ("Rania" , "Khalid" , "Alageel")

joinTheText = "-".join(myText)

print(joinTheText)

Rania-Khalid-Alageel

In [1751]:
# strip() method is removes any whitespaces or characters at the beginning and end of the string 

text = "       Rania         "

stripTheText = text.strip()

print("My name is", stripTheText)

# ----------------------------------

text2 = "*********Rania*********"

stripTheText2 = text2.strip("*")

print("My name is", stripTheText2)

My name is Rania
My name is Rania

In [1752]:
#  (For) Loop to read data and print each data on line 

name = "Rania"

for letters in name:
    print(letters)

R
a
n
i
a

In [1753]:
# List comprehension provides a much more short syntax for creating a new list based on the values of an existing list.

numbers = [2, 4, 6, 8, 10]
squared = [x ** 2 for x in numbers]
print(squared)

[4, 16, 36, 64, 100]

In [1754]:
# Dictionary comprehension is a method for transforming one dictionary into another dictionary. 

dict1 = {'Rania': 1, 'Khalid': 2, 'Alageel': 3}
# Double each value in the dictionary
double_dict1 = {k:v*2 for (k,v) in dict1.items()}
print(double_dict1)

{'Rania': 2, 'Khalid': 4, 'Alageel': 6}

In [1755]:
# Lambda functions are efficient whenever you want to create a function that will only contain simple expressions

(lambda x : x * 3)(4)

12

In [1756]:
# Read a csv file and load it into data frame 

import pandas as pd

df = pd.read_csv('cities.csv')

# print(df)
df.head()

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI

In [1757]:
import pandas as pd

data = pd.read_csv('cities.csv')
df = pd.DataFrame(data , columns=[' "City"', ' "State"'])
print(df)

                 "City"  "State"
0          "Youngstown"       OH
1             "Yankton"       SD
2              "Yakima"       WA
3           "Worcester"       MA
4     "Wisconsin Dells"       WI
..                  ...      ...
123              "Reno"       NV
124            "Regina"       SA
125         "Red Bluff"       CA
126           "Reading"       PA
127           "Ravenna"      OH

[128 rows x 2 columns]

In [1758]:
# Use Continue If you need to skip part of the current loop you are in 
# Or 
#  Use break to get out of the loop completely


# break 
print("break")
print("----------")
for letter in 'Rania':
    if letter == "i":
        break
    print('letter :', letter)

print("***************")

# Continue 
print("Continue")
print("----------")
for letter in "Rania":
    if letter == "i":
        continue
    print('letter :',letter)

break
----------
letter : R
letter : a
letter : n
***************
Continue
----------
letter : R
letter : a
letter : n
letter : a

In [1759]:
# zip() method takes iterable containers and returns a single iterator object, having mapped values from all the containers. 

name = [ "Rania", "Khalid", "Abdulrahman", "Alageel" ]
roll_no = [ 3, 2, 4, 1 ]

# using zip() to map values
mapped = zip(name, roll_no)

print(set(mapped))

{('Rania', 3), ('Khalid', 2), ('Alageel', 1), ('Abdulrahman', 4)}

In [1760]:
# map() function is used to apply a function on all elements of a specified iterable and return a map object.


def addition(number):
    return number+number

numbers = [1,2,3,4,5]
addition_numbers = map(addition, numbers)
print(list(addition_numbers))

[2, 4, 6, 8, 10]

In [1761]:
#  filter() function checks a condition of each element in an iterable and returns a filtered data structure only containing elements who match the given conditions.

def even(number):
    if (number % 2) == 0:
        return True
    return False

numbers = [1,2,3,4,5]
even_numbers = filter(even, numbers)
print(list(even_numbers))

[2, 4]

In [1762]:
# Higher Order Function if it contains other functions as a parameter or returns a function as an output.
# why we use a higher order function ? 
#  --> because it's a function can act as an instant of an object type So, we can return a function as a result of another function.

def TextWithUpperLetters(text):
	return text.upper()
	
def TextWithLowerLetters(text):
	return text.lower()
	
def greet(func):
	# storing the function in a variable
	greeting = func("I'm Rania Alageel")
	print(greeting)
	
greet(TextWithUpperLetters)
greet(TextWithLowerLetters)

I'M RANIA ALAGEEL
i'm rania alageel

In [1763]:
#  Task (2)

In [1764]:
# funtion in python that accept two prameters . 
# They'll both be numbers. 
# The first number will be the month as number and the second number will be the four-digit year. 
# The function should parse the prameters and return true if the month contains a friday the 13th adn false if it doesn't





from datetime import date
def test(month, year): 
    return str(date(year,month,13).strftime("%A")=='Friday')

month = 1
year = 2023;            
print("Month No.: ", month, " Year: ", year)
print("Check whether the said month and year contains a Monday 13th.: " + test(month, year));
month = 4
year = 2023;            
print("\nMonth No.: ", month, " Year: ", year)
print("Check whether the said month and year contains a Monday 13th.: " + test(month, year));

Month No.:  1  Year:  2023
Check whether the said month and year contains a Monday 13th.: True

Month No.:  4  Year:  2023
Check whether the said month and year contains a Monday 13th.: False

In [1765]:
# Write a function in Python that accepts a string of ASCII characters. 
# It should return each character's value as a hexadecimal string. 
# Separate each byte by a space, and return all alpha hexadecimal characters as lowercase



# function to convert ASCII to HEX
def ASCIItoHEX(ascii):

	# Initialize final String
	hexa = ""

	# Make a loop to iterate through
	# every character of ascii string
	for i in range(len(ascii)):

		# take a char from
		# position i of string
		ch = ascii[i]

		# cast char to integer and
		# find its ascii value
		in1 = ord(ch)

		# change this ascii value
		# integer to hexadecimal value
		part = hex(in1).lstrip("0x").rstrip("L")

		# add this hexadecimal value
		# to final string.
		hexa += part

	# return the final string hex
	return hexa

# Driver Function
if __name__ == '__main__':

	# print the Hex String
	print(ASCIItoHEX("Rania"))

52616e6961

In [1766]:
# Write a function in Python that accepts two string parameters. 
# The first parameter will be a string of characters, and the second parameter will be the same string of characters, but they'll be in a different order and have one extra character. 
# The function should return that extra character.


def FindExtraChar(string1, string2):
	# get length of strings
	n1 = len(string1)
	n2 = len(string2)

	# iterate through the first string
	for i in range(n1):
		# iterate through the second string
		for j in range(n2):
			# if the current character of the first
			# string matches the current character of
			# the second string, break out of the loop
			# and move on to the next character in the
			# first string
			if s1[i] == s2[j]:
				break

		# if the loop finished without finding a match,
		# return the current character of the first
		# string
		if j == n2 - 1:
			return s1[i]

	# if we get to this point, it means that the extra
	# character is at the end of the second string, so
	# return it
	return s2[n2 - 1]


s1 = "Rania"
s2 = "aanRiw"
print("The extra character is : ", FindExtraChar(s1, s2))

The extra character is :  w

In [1775]:
# Write a function that accepts a number as a parameter. 
# The function should return a number that's the difference between the largest and smallest numbers that the digits can form in the number. 
# For example, if the parameter is "213", the function should return "198". which is the result of 123 subtracted from 321.

def difference(num):
    digits = [int(d) for d in str(num)]     
    largest = int(''.join(map(str, sorted(digits, reverse=True))))     
    smallest = int(''.join(map(str, sorted(digits))))     
    return largest - smallest 


print(difference(213))

198

In [1768]:
#  end of Task (2)